mod/calc/templates/ctdl.dtd

<!ELEMENT task (service, metadb, computing, (data|destination)+, processing+)>
<!ATTLIST task
    uid ID #REQUIRED
    owner CDATA #IMPLIED
    description CDATA #IMPLIED
    root_path CDATA #IMPLIED
    data_module_path CDATA #REQUIRED>


<!ELEMENT service (timePeriod)>
<!ATTLIST service
    processingClass CDATA #REQUIRED
    calculationParameter CDATA #REQUIRED
    trend CDATA #REQUIRED
    isBaseLayer CDATA #REQUIRED>
<!ELEMENT timePeriod (dateStart, dateEnd)>
<!ATTLIST timePeriod
    type CDATA #REQUIRED>
<!ELEMENT dateStart EMPTY>
<!ATTLIST dateStart
    year CDATA #REQUIRED
    month CDATA #REQUIRED
    day CDATA #REQUIRED>
<!ELEMENT dateEnd EMPTY>
<!ATTLIST dateEnd
    year CDATA #REQUIRED
    month CDATA #REQUIRED
    day CDATA #REQUIRED>


<!ELEMENT metadb EMPTY>
<!ATTLIST metadb
    host CDATA #REQUIRED
    name CDATA #REQUIRED
    user CDATA #REQUIRED
    password CDATA #REQUIRED>
<!ELEMENT computing EMPTY>
<!ATTLIST computing
    system CDATA #REQUIRED
    type (LOCAL|REMOTE) #REQUIRED
    ip CDATA #IMPLIED>
<!ELEMENT data (description?, dataset?, variable?, region?, levels?, time?, param*)>
<!ATTLIST data
    uid ID #REQUIRED
    type (dataset|array|datafile|parameter) #REQUIRED
    kind (map|stations|lines) #IMPLIED>
<!ELEMENT description EMPTY>
<!ATTLIST description
    title CDATA #REQUIRED
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    units_sfx CDATA #IMPLIED
    source CDATA #IMPLIED>
<!ELEMENT dataset EMPTY>
<!ATTLIST dataset
    name CDATA #REQUIRED
    resolution CDATA #REQUIRED
    time_step CDATA #REQUIRED
    scenario CDATA #REQUIRED
    module_path CDATA #IMPLIED>
<!ELEMENT variable EMPTY>
<!ATTLIST variable
    name CDATA #REQUIRED
    tempk2c CDATA "no">
<!ELEMENT region ((point, point, point+)|(tile+))>
<!ATTLIST region
    units (degrees|pathrow) #REQUIRED
    lon0 CDATA "0">
<!ELEMENT point EMPTY>
<!ATTLIST point
    lon CDATA #REQUIRED
    lat CDATA #REQUIRED>
<!ELEMENT tile EMPTY>
<!ATTLIST tile
    path CDATA #REQUIRED
    row CDATA #REQUIRED>
<!ELEMENT levels EMPTY>
<!ATTLIST levels
    values CDATA #REQUIRED>
<!ELEMENT time (segment+)>
<!ATTLIST time
    uid CDATA #IMPLIED	
    template CDATA #FIXED "YYYYMMDDHH"
    step CDATA #IMPLIED>
<!ELEMENT segment EMPTY>
<!ATTLIST segment
    name CDATA #REQUIRED
    beginning CDATA #REQUIRED
    ending CDATA #REQUIRED>
<!ELEMENT param (#PCDATA)>
<!ATTLIST param
    uid ID #REQUIRED
    type (integer|float|string|intarr|fltarr|strarr|binary) #REQUIRED>

<!ELEMENT destination (file, projection?, coastline?, rivers?, countries?, graphics?)>
<!ATTLIST destination
    uid ID #REQUIRED
    type (image|raw) #REQUIRED>
<!ELEMENT file EMPTY>
<!ATTLIST file
    name CDATA #REQUIRED
    type (eps|geotiff|shape|geotiff24|netcdf|bin|xml|png) #REQUIRED>
<!ELEMENT projection (p0lon?, p0lat?, rot?, limits)>
<!ATTLIST projection
    name CDATA #REQUIRED>
<!ELEMENT p0lon (#PCDATA)>
<!ATTLIST p0lon
    units CDATA #FIXED "degrees">
<!ELEMENT p0lat (#PCDATA)>
<!ATTLIST p0lat
    units CDATA #FIXED "degrees">
<!ELEMENT rot (#PCDATA)>
<!ATTLIST rot
    units CDATA #FIXED "degrees">
<!ELEMENT limits (limit, limit, limit, limit)>
<!ATTLIST limits
    units CDATA #FIXED "degrees">
<!ELEMENT limit (#PCDATA)>
<!ATTLIST limit
    role (left|right|top|bottom) #REQUIRED>
<!ELEMENT coastline EMPTY>
<!ATTLIST coastline
    visible (yes|no) #REQUIRED
    hires (yes|no) #REQUIRED>
<!ELEMENT rivers EMPTY>
<!ATTLIST rivers
    visible (yes|no) #REQUIRED
    hires (yes|no) #REQUIRED>
<!ELEMENT countries EMPTY>
<!ATTLIST countries
    visible (yes|no) #REQUIRED
    hires (yes|no) #REQUIRED>

<!ELEMENT graphics (width, height, axis?, lines?, legend?, colortable?, colorscale?, blackbg?, smoothing?, steps?)>
<!ATTLIST graphics
    title CDATA #REQUIRED
    kind (shaded|contour|station|tile|multiline|vector|regress2d) #REQUIRED>
<!ELEMENT width (#PCDATA)>
<!ATTLIST width
    units CDATA #FIXED "pixels">    
<!ELEMENT height (#PCDATA)>
<!ATTLIST height
    units CDATA #FIXED "pixels">    
<!ELEMENT axis (x, y, z?)>
<!ELEMENT x EMPTY>
<!ATTLIST x
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    scale CDATA #IMPLIED
    visible CDATA "yes">
<!ELEMENT y EMPTY>
<!ATTLIST y
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    scale CDATA #IMPLIED
    visible CDATA "yes">
<!ELEMENT z EMPTY>
<!ATTLIST z
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    scale CDATA #IMPLIED
    visible CDATA "yes">
<!ELEMENT lines (line*)>
<!ELEMENT line EMPTY>
<!ATTLIST line
    name CDATA #REQUIRED
    style (solid|dotted|dashed) #REQUIRED
    symbol (none|plus|asterisk|period|diamond|triangle|square|X) #REQUIRED
    color CDATA #REQUIRED
    thick CDATA #REQUIRED
    visible CDATA #REQUIRED>
<!ELEMENT legend (units?, nlabels?, ncolors?, limited?, minimum?, maximum?, file?)>
<!ATTLIST legend
    title CDATA #REQUIRED
    kind (embedded|file|none) #REQUIRED
    type (continuous|discrete) #REQUIRED
    position (right|left|top|bottom|none) #REQUIRED>
<!ELEMENT units (#PCDATA)>
<!ELEMENT ncolors (#PCDATA)>
<!ELEMENT nlabels (#PCDATA)>
<!ELEMENT limited (#PCDATA)>
<!ELEMENT minimum (#PCDATA)>
<!ELEMENT maximum (#PCDATA)>
<!ELEMENT colortable (#PCDATA)>
<!ELEMENT colorscale (#PCDATA)>
<!ELEMENT blackbg (#PCDATA)>
<!ELEMENT smoothing (#PCDATA)>
<!ELEMENT steps (#PCDATA)>

<!ELEMENT processing (input+, output*)>
<!ATTLIST processing
    uid ID #REQUIRED
    class CDATA #REQUIRED
    module_path CDATA #IMPLIED>
<!ELEMENT input EMPTY>
<!ATTLIST input
    uid ID #REQUIRED
    data CDATA #REQUIRED>
<!ELEMENT output EMPTY>
<!ATTLIST output
    uid ID #REQUIRED
    data CDATA #REQUIRED>
